<script src="https://giscus.app/client.js"
        data-repo="andrzejQ/Office_S_Tips"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyMTA0MzMyMDc="
        data-category="Komentarze"
        data-category-id="DIC_kwDODIr0t84CTdgq"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="pl"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>